{% extends 'base.html.twig' %}

{% block title %}Hello ImportController!{% endblock %}

{% block body %}
    <div class="container container-fluid">
    <div class="row">
      <div class="col-lg-8">
      {{ form_start(form, { attr: { 'accept-charset' : 'utf-8' }}) }}
        <div class="form-group">
          {{ form_label(form.fichier) }}
          {{ form_widget(form.fichier) }}
          {{ form_errors(form.fichier) }}
        </div>
        <div class="form-group">
          {{ form_widget(form.send, {'label': "Upload this file", 'attr' : { 'class': 'btn btn-primary' }}) }}
        </div>
        {{ form_rest(form) }}
      {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}
